{% extends "base.html" %}

{% load static %}

{% block css %}
<style>

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.topright:hover {color: red;}
</style>
{% endblock %}


{% block js %}
<script type="text/javascript">
Highcharts.setOptions({
    colors: ['#D35D15', '#FF6600', '#F0F0F0', '#0066B3', '#707172', '#ABABAB']
});

var charts = [
  {
    id: 'customer-pie-chart',
    series: [{
        name: 'Portfolio',
        colorByPoint: true,
        data: [{
            name: 'Liquidität <br><b>Einlageprodukte</b>',
            y: 5
        }, {
            name: 'Aktienfonds <br><b>Wachstumsmärkte</b>',
            y: 60,
        }, {
            name: 'Aktienfonds <br><b>Industrieländer</b>',
            y: 10
        }, {
            name: 'Anleihenfonds <br><b>Hochzins</b>',
            y: 20
        }, {
            name: 'Anleihenfonds <br><b>Standart</b>',
            y: 5
        }]
    }]
  },
  {
    id: 'soft-pie-chart',
    series: [{
        name: 'Portfolio',
        colorByPoint: true,
        data: [{
            name: 'Liquidität <br><b>Einlageprodukte</b>',
            y: 5
        }, {
            name: 'Aktienfonds <br><b>Wachstumsmärkte</b>',
            y: 75,
        }, {
            name: 'Aktienfonds <br><b>Industrieländer</b>',
            y: 0
        }, {
            name: 'Anleihenfonds <br><b>Hochzins</b>',
            y: 20
        }, {
            name: 'Anleihenfonds <br><b>Standart</b>',
            y: 0
        }]
    }]
  },
  {
    id: 'middle-pie-chart',
    series: [{
        name: 'Portfolio',
        colorByPoint: true,
        data: [{
            name: 'Liquidität <br><b>Einlageprodukte</b>',
            y: 5
        }, {
            name: 'Aktienfonds <br><b>Wachstumsmärkte</b>',
            y: 45,
        }, {
            name: 'Aktienfonds <br><b>Industrieländer</b>',
            y: 15
        }, {
            name: 'Anleihenfonds <br><b>Hochzins</b>',
            y: 30
        }, {
            name: 'Anleihenfonds <br><b>Standart</b>',
            y: 5
        },]
    }]
  },
  {
    id: 'bold-pie-chart',
    series: [{
        name: 'Portfolio',
        colorByPoint: true,
        data: [{
            name: 'Liquidität <br><b>Einlageprodukte</b>',
            y: 5
        }, {
            name: 'Aktienfonds <br><b>Wachstumsmärkte</b>',
            y: 0,
        }, {
            name: 'Aktienfonds <br><b>Industrieländer</b>',
            y: 15
        }, {
            name: 'Anleihenfonds <br><b>Hochzins</b>',
            y: 35
        }, {
            name: 'Anleihenfonds <br><b>Standart</b>',
            y: 45
        }]
    }]
  },
]

for(var i = 0; i < charts.length; ++i) {
  Highcharts.chart(charts[i].id, {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        marginTop: 0,
        spacingBottom: 15,
        spacingTop: 10,
        spacingLeft: 10,
        spacingRight: 10,
        backgroundColor:'rgba(255, 255, 255, 0)'
    },
    title: {
        text: ''
    },
    credits: false,
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: false
        }
    },
    series: charts[i].series
  });
}


</script>
{% endblock %}

{% block infotext%}
<div class="panel-body">
  <h3>PERFORMANCE</h3>
  <p>Sie wollten schon immer mal wissen, wie sich Ihr(e) Depot(s) entwickelt hat/haben? Die Performanceübersicht liefert Ihnen einen schnellen Überblick und vergleicht Ihr(e) Depot(s) mit von uns ausgewählten Musterdepots unterschiedlicher Zusammensetzungen.</p>
</div>
{%endblock%}


{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Ihr Portfolio</h3>
      <div class="performance">Performance <span class="text-success">2,37 % p.a.</span></div>
      <div>
        <div id="customer-pie-chart" style="height: 300px;"></div>
      </div>
      <div class="container-table">
        <table class="legend table table-hover">
          <tr>
            <td class="color"></td>
            <td>
              <b>Liquidität</b><br>
              Einlageprodukte
            </td>
            <td>5 %</td>
          </tr>
          <tr>
            <td class="color"></td>
            <td>
              <b>Aktienfonds</b><br>
              Wachstumsmärkte
            </td>
            <td>60 %</td>
          </tr>
          <tr>
            <td class="color"></td>
            <td>
              <b>Aktienfonds</b><br>
              Industrieländer
            </td>
            <td>10 %</td>
          </tr>
          <tr>
            <td class="color"></td>
            <td>
              <b>Anleihenfonds</b><br>
              Hochzins
            </td>
            <td>20 %</td>
          </tr>
          <tr>
            <td class="color"></td>
            <td>
              <b>Anleihenfonds</b><br>
              Standart
            </td>
            <td>5 %</td>
          </tr>
        </table>
      </div>


    </div>
    <div class="col-md-9">

      <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-allocation" role="tablist">
          <li role="presentation" style="width: 250px;">
            <a href="#conservative" aria-controls="conservative" role="tab" data-toggle="tab">
            <div>KONSERVATIV</div>
            <div class="performance">Performance <span class="text-success">1,8 % p.a.</span></div>
            <div id="soft-pie-chart" style="height: 200px;"></div>
            </a>
          </li>
          <li role="presentation" style="width: 250px;" class="active">
            <a href="#medium" aria-controls="medium" role="tab" data-toggle="tab">
            <div>AUSGEWOGEN</div>
            <div class="performance">Performance <span class="text-success">3,2 % p.a.</span></div>
            <div id="middle-pie-chart" style="height: 200px;"></div>
            </a>
          </li>
          <li role="presentation" style="width: 250px;">
            <a href="#bold" aria-controls="bold" role="tab" data-toggle="tab">
              <div>WACHSTUMSORIENTIERT</div>
              <div class="performance">Performance <span class="text-success">5,1 % p.a.</span></div>
              <div id="bold-pie-chart" style="height: 200px;"></div>
            </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="conservative">
            <div class="container-table">
              <table class="legend table table-hover">
                <tr>
                  <td class="color"></td>
                  <td>
                    <b>Liquidität</b><br>
                    Einlageprodukte
                  </td>
                  <td>5 %</td>
                </tr>
                <tr>
                  <td class="color"></td>
                  <td>
                    <b>Aktienfonds</b><br>
                    Wachstumsmärkte
                  </td>
                  <td>75 %</td>
                </tr>
                <tr>
                  <td class="color"></td>
                  <td>
                    <b>Anleihenfonds</b><br>
                    Hochzins
                  </td>
                  <td>20 %</td>
                </tr>
              </table>

            </div>

          </div>
          <div role="tabpanel" class="tab-pane" id="medium">

            <div class="container-table">
              <table class="legend table table-hover">
                <tr>
                  <td class="color"></td>
                  <td>
                    <b>Liquidität</b><br>
                    Einlageprodukte
                  </td>
                  <td>5 %</td>
                </tr>
                <tr>
                  <td class="color"></td>
                  <td>
                    <b>Aktienfonds</b><br>
                    Wachstumsmärkte
                  </td>
                  <td>45 %</td>
                </tr>
                <tr>
                  <td class="color"></td>
                  <td>
                    <b>Aktienfonds</b><br>
                    Industrieländer
                  </td>
                  <td>15 %</td>
                </tr>
                <tr>
                  <td class="color"></td>
                  <td>
                    <b>Anleihenfonds</b><br>
                    Hochzins
                  </td>
                  <td>30</td>
                </tr>
                <tr>
                  <td class="color"></td>
                  <td>
                    <b>Anleihenfonds</b><br>
                    Standart
                  </td>
                  <td>5</td>
                </tr>
              </table>

              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-8">
                      Dieses Musterportfolio hat eine bessere Performance als Ihres.
                    </div>
                    <div class="col-sm-4">
                      <div class="pull-right">
                        <button class="btn btn-lg btn-primary">Jetzt optimieren</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div role="tabpanel" class="tab-pane" id="bold">
            <div class="container-table">
              <table class="legend table table-hover">
                <tr>
                  <td class="color"></td>
                  <td>
                    <b>Liquidität</b><br>
                    Einlageprodukte
                  </td>
                  <td>5 %</td>
                </tr>
                <tr>
                  <td class="color"></td>
                  <td>
                    <b>Aktienfonds</b><br>
                    Industrieländer
                  </td>
                  <td>15 %</td>
                </tr>
                <tr>
                  <td class="color"></td>
                  <td>
                    <b>Anleihenfonds</b><br>
                    Hochzins
                  </td>
                  <td>35 %</td>
                </tr>
                <tr>
                  <td class="color"></td>
                  <td>
                    <b>Anleihenfonds</b><br>
                    Standart
                  </td>
                  <td>45 %</td>
                </tr>
              </table>

              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-8">
                      Dieses Musterportfolio hat eine bessere Performance als Ihres.
                    </div>
                    <div class="col-sm-4">
                      <div class="pull-right">
                        <button class="btn btn-lg btn-primary">Jetzt optimieren</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}
