{% load static compress %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>GENO</title>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">

    {% compress css %}
    <style type="text/less">
    @color: #4D926F;

    body {
      background: @color;
    }
    </style>
    {% endcompress %}

    {% block css %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <script type="text/javascript" src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/highcharts/highstock.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>
