{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>GENO</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/roboicons.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <script type="text/javascript" src="{% static 'vendor/js-cookie/src/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/highcharts/highstock.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jquery-form/dist/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/underscore/underscore-min.js' %}"></script>

    <script type="text/javascript">
        var csrftoken = Cookies.get('csrftoken');
        var duser = 'josueyy';
        var templates = {
          credentials: '<input class="credentials" type="<% if (masked) { %>password<% } else { %>text<% } %>" placeholder="<%= label %>" autocomplete="false">',
          link: '<a data-id="<%= id %>" href="#"><div class="bank-block"><i class="fa ra-<%= id %>"></i></div></a>',
          checkbox_asset: '<tr><td><input type="checkbox" name="client_account" value="<%= id %>" <% if (selected) { %>checked="checked"<% } %>></td><td><%= name %></td><td><%= account_number %></td><td><%= total_value %></td></tr>',
          asset: '<tr><td><%= name %></td><td><%= account_number %></td><td><%= total_value %></td></tr>'
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function figoLogin(user, credentials){
          return $.post('{% url "d:figo_connect" %}', {'user': user, 'credentials': credentials, 'bank_code': 90090099});
        }

        function getAllAssets(user){
          return $.get('{% url "d:all_assets" %}', {'user': user});
        }

        function renderAssets(d, table, template_name) {
            var rows = '';
            for (var i = 0; i < d.length; ++i) {
                var item = d[i];
                var references = item.references;
                for (var j = 0; j < references.length; ++j) {
                    // getting the account number
                    item.account_number = '';
                    if (references[j].type.id == 8) {
                        item.account_number = references[j].code;
                        break;
                    }
                }
                rows += _.template(template_name)(item);
            }
            table.html(rows);
        }

    </script>
    {% block js %}{% endblock %}
</body>
</html>
