{% extends "base.html" %}
{% load static %}

{% block section %}DEPOTS IMPORTIEREN{% endblock%}

{% block infotext %}
<div class="panel-body">Möchten Sie witere Depots importieren? Starten alternativ direkt mit der Analyse.</div>
{% endblock%}

{% block second_menu %}{% endblock%}

{% block js %}
<script type="text/javascript" src="{% static 'js/import.js' %}"></script>
<script type="text/javascript">
  var modal = $('#accountsModal');
  modal.on('show.bs.modal', function (e) {
    getAllAssets(duser).done(function(d){
      renderAssets(
        d.data, modal.find('table tbody'), templates.checkbox_asset);
    });
  });

  $('#importAccounts').click(function() {
    var selectedAssets = [];
    $('input[name="client_account"]').each(function() {
      selectedAssets.push($(this).val() + ':' + $(this).prop('checked'));
    })
    $.post(
      '{% url "d:select_assets" %}',
      {'user': duser, 'assets': selectedAssets.join(',')}
    ).done(function(d) {
      location.reload()
    });
  })

  $(function() {
    var table = $('.assets-table').find('tbody');
    $.getJSON('{% url "d:selected_assets" %}', {'user': duser}, function(d){  renderAssets(d.data, table, templates.asset);
    })
  });
</script>
{% endblock %}

{% block body %}
<div class="container">
  <table class="table table-hover assets-table">
    <tbody></tbody>
  </table>
  <div><a href="#" class="btn" data-toggle="modal" data-target="#accountsModal"><i class="fa fa-plus"></i> Weiteres depot importieren</a></div>

  <div>
    <div class="pull-right">
      <div class="btn-together">
        <a style="margin: 0 20px;" class="btn btn-lg btn-primary" href="{% url 'import_depot' %}">Züruck</a>
        <a class="btn btn-lg btn-next" href="{% url 'allocation' %}">Analyse starten</a><a class="btn btn-lg btn-next-orange" href="{% url 'allocation' %}">&gt;</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="accountsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Wählen Sie Ihr Wertpapierdepot aus</h3>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <th></th>
            <th>Konto</th>
            <th>Nummer</th>
            <th>Amount</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button id="importAccounts" type="button" class="btn btn-lg btn-next">OK</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
