{% extends "base.html" %}
{% load static %}

{% block section %}DEPOTS IMPORTIEREN{% endblock%}

{% block infotext %}
<div class="panel-body">Loggen Sie Sich bei IhrerBank ein, um die Depotanalyse zu starten. Nach Ihrem Log-in können Sie Ihre gemischten Depots auswählen.</div>
{% endblock%}

{% block js %}
<script type="text/javascript" src="{% static 'js/import.js' %}"></script>
<script type="text/javascript">
var selectedBank;
var data = {
  dzb_bank: {
    name: 'VR-Bank',
    code: 90090042,
    credentials: [
      {
        label: 'Alias/VR-NetKey',
        masked: false,
      },
      {
        label: 'PIN oder Passwort',
        masked: true,
      },
    ]
  },
  sparkasse_bank: {
    name: 'Sparkasse',
    code: 90090042,
    credentials: [
      {
        label: 'Anmeldename od. Leg.-ID',
        masked: false,
      },
      {
        label: 'PIN oder Passwort',
        masked: true,
      },
    ]
  },
  post_bank: {
    name: 'Postbank',
    code: 90090042,
    credentials: [
      {
        label: 'Kontonummer',
        masked: false,
      },
      {
        label: 'PIN oder Passwort',
        masked: true,
      },
    ]
  },
  deutsche_bank: {
    name: 'Deutsche Bank',
    code: 90090042,
    credentials: [
      {
        label: 'Kontonummer',
        masked: false,
      },
      {
        label: 'PIN oder Passwort',
        masked: true,
      },
    ]
  },
  commerze_bank: {
    name: 'Commerzbank ZW 57 Berlin',
    code: 90090042,
    credentials: [
      {
        label: 'Benutzername/Teilnehmernummer',
        masked: false,
      },
      {
        label: 'PIN oder Passwort',
        masked: true,
      },
    ]
  },
  dkb_bank: {
    name: 'Deutsche Kreditbank',
    code: 90090042,
    credentials: [
      {
        label: 'Anmeldename',
        masked: false,
      },
      {
        label: 'PIN oder Passwort',
        masked: true,
      },
    ]
  },
  ing_bank: {
    name: 'ING-DiBa',
    code: 90090042,
    credentials: [
      {
        label: 'Kontonummer',
        masked: false,
      },
      {
        label: 'Diba-Key',
        masked: true,
      },
      {
        label: 'PIN',
        masked: true,
      },
    ]
  }
}

var dom = $('.bank-wrapper');
var accountsModal = $('#accountsModal')
for (var i in data){
  dom.append(_.template(templates.link)({id: i}))
}

$('.bank-wrapper').on('click', 'a', function() {
  var id = $(this).data('id');
  var bank = data[id];
  selectedBank = bank;
  var inputs = '<div class="form-inline"><label><span class="text-primary">' + bank.name + ' </span></label>';
  $('.bank-block').removeClass('active');
  $(this).find('.bank-block').addClass('active');
  for (var i = 0; i < bank.credentials.length; ++i) {
    inputs += _.template(templates.credentials)(bank.credentials[i]);
  }
  inputs += '</div>'
  $('.selected-wrapper').html(inputs);
})

$('.login-figo').click(function (){
  $("body").LoadingOverlay("show");
  var acredentials = [];
  $('.credentials').each(function(){
    acredentials.push($(this).val());
  });
  figoLogin(duser, acredentials.join(',')).done(function(r) {
    $("body").LoadingOverlay("hide", true);
    if (r.success) {
      window.location = '{% url "import_all" %}'
    } else {
      console.error(r);
    }
  });
})
</script>
{% endblock %}

{% block body %}
<div class="container import">
  <div class="bank-lists">
    <div class="bank-wrapper">

    </div>
  </div>

  <div class="selected-bank">
    <div class="selected-wrapper">

    </div>
  </div>
  <!-- Button trigger modal -->
  <div>
    <div class="pull-right">
      <a type="button" class="login-figo btn btn-next btn-lg">Weiter</a><a type="button" class="login-figo btn btn-next-orange btn-lg">&gt;</a>
    </div>
  </div>
</div>

{% endblock %}
