{% extends "base.html" %}
{% load static %}

{% block js %}
<script type="text/javascript" src="{% static 'js/import.js' %}"></script>
<script type="text/javascript">
var selectedBank;
var data = {
  dzb_bank: {
    name: 'VR-Bank',
    code: 90090042,
    credentials: [
      {
        label: 'Alias/VR-NetKey',
        masked: false,
      },
      {
        label: 'PIN oder Passwort',
        masked: true,
      },
    ]
  },
  sparkasse_bank: {
    name: 'Sparkasse',
    code: 90090042,
    credentials: [
      {
        label: 'Anmeldename od. Leg.-ID',
        masked: false,
      },
      {
        label: 'PIN oder Passwort',
        masked: true,
      },
    ]
  },
  post_bank: {
    name: 'Postbank',
    code: 90090042,
    credentials: [
      {
        label: 'Kontonummer',
        masked: false,
      },
      {
        label: 'PIN oder Passwort',
        masked: true,
      },
    ]
  },
  deutsche_bank: {
    name: 'Deutsche Bank',
    code: 90090042,
    credentials: [
      {
        label: 'Kontonummer',
        masked: false,
      },
      {
        label: 'PIN oder Passwort',
        masked: true,
      },
    ]
  },
  commerze_bank: {
    name: 'Commerzbank ZW 57 Berlin',
    code: 90090042,
    credentials: [
      {
        label: 'Benutzername/Teilnehmernummer',
        masked: false,
      },
      {
        label: 'PIN oder Passwort',
        masked: true,
      },
    ]
  },
  dkb_bank: {
    name: 'Deutsche Kreditbank',
    code: 90090042,
    credentials: [
      {
        label: 'Anmeldename',
        masked: false,
      },
      {
        label: 'PIN oder Passwort',
        masked: true,
      },
    ]
  },
  ing_bank: {
    name: 'ING-DiBa',
    code: 90090042,
    credentials: [
      {
        label: 'Kontonummer',
        masked: false,
      },
      {
        label: 'Diba-Key',
        masked: true,
      },
      {
        label: 'PIN',
        masked: true,
      },
    ]
  }
}

var dom = $('.bank-wrapper');
var accountsModal = $('#accountsModal')
for (var i in data){
  dom.append(_.template(templates.link)({id: i}))
}

$('.bank-wrapper').on('click', 'a', function() {
  var id = $(this).data('id');
  var bank = data[id];
  selectedBank = bank;
  var inputs = '<span>' + bank.name + ' </span>';
  for (var i = 0; i < bank.credentials.length; ++i) {
    inputs += _.template(templates.credentials)(bank.credentials[i]);
  }
  inputs += '</form>'
  $('.selected-wrapper').html(inputs);
})

$('#getAccounts').click(function (){
  var acredentials = [];
  $('.credentials').each(function(){
    acredentials.push($(this).val());
  });
  figoLogin(duser, acredentials.join(',')).done(function(r) {
    if (r.success) {
      window.location = '{% url "import_all" %}'
    } else {
      console.error(r);
    }
  });
})

</script>
{% endblock %}

{% block body %}
<div class="container import">
  <h3>DEPOTS IMPORTIEREN</h3>
  <p>Lorem impsum</p>
  <div class="bank-lists">
    <div class="bank-wrapper">

    </div>
  </div>

  <div class="selected-bank">
    <div class="selected-wrapper">

    </div>
  </div>
  <!-- Button trigger modal -->
  <a id="getAccounts" type="button" class="btn btn-primary btn-lg">
    Weiter
  </a>
</div>

{% endblock %}
