{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
// Make monochrome colors
Highcharts.setOptions({
 colors: ['#D35D15', '#FF6600', '#F0F0F0', '#0066B3', '#707172', '#ABABAB']
});

Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Browser market shares January, 2015 to May, 2015'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    legend: {
    enabled: true,
    align: 'left',
    verticalAlign: 'bottom',
    width: 20,
    itemStyle: {
      color: '#000',
      fontFamily: 'Frutiger-Cn'
    }
  },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Portfolio',
        colorByPoint: true,
        data: [{
            name: 'Liquidität <br><b>Einlageprodukte</b>',
            y: 36
        }, {
            name: 'Aktienfonds <br><b>Wachstumsmärkte</b>',
            y: 32,
            sliced: true,
            selected: true
        }, {
            name: 'Aktienfonds <br><b>Industrieländer</b>',
            y: 14
        }, {
            name: 'Anleihenfonds <br><b>Hochzins</b>',
            y: 9
        }, {
            name: 'Anleihenfonds <br><b>Standart</b>',
            y: 6
        }, {
            name: 'Andere',
            y: 3
        }]
    }]
});
</script>
{% endblock %}


{% block body %}
<div class="container">
  <h3>Hello World</h3>
  <div id="example-chart">

  </div>
</div>
{% endblock %}
