{% extends "base.html" %}

{% load static %}

{% block css %}


<link href="{% static 'vendor/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css' %}" rel="stylesheet" type="text/css"/>


<style type="text/css">
            #slidercontainer{
               
                position: absolute;
                padding: 20px;
                padding-top: 70px;
                border-style: solid;
              
            }

            #ex1Slider .slider-selection {
                background: #BABABA;
            }

            .slider.slider-horizontal .slider-track{

                height: 2px;
            }

            .slider-handle{
                top: -4px;
                background-color: rgba(255,255,255,255);
                background-image: none;
                border-width: 2px;
                border-color: #f08200;

            }
            .tooltip-inner{
                background-color: #999999;
            }
            .tooltip.top .tooltip-arrow{

                border-top-color: rgba(0,0,0,0);
            }

</style>


{% endblock %}



{% block js %}
<script type="text/javascript">

Highcharts.setOptions({
 colors: ['#D35D15', '#FF6600', '#F0F0F0', '#0066B3', '#707172', '#ABABAB']
});

Highcharts.chart('newBardiagramm', {
  title: {
    text: '',
    style: {
      display: 'none'
    }
  },
  chart: {
    type: 'bar'
  },
  yAxis: {
    lineColor: '#0E3C8A',
    gridLineWidth: 0,
    lineWidth: 2,
    title: {
      text: '',
    },
    labels: {
      enabled: false
    },
  },
  xAxis: {
    lineColor: '#0E3C8A',
    lineWidth: 2,
    labels: {
      enabled: false
    },
    title: {
      text: ''
    },

  },
  tooltip: {
    valueSuffix: ' millions'
  },
  plotOptions: {
    bar: {
      dataLabels: {
        enabled: true
      }
    }
  },
  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'top',
    x: 20,
    y: 30,
    floating: true,
    borderWidth: 0,
    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
    shadow: false,
    enabled: false
    
  },
  credits: {
    enabled: false
  },
  credits: {
    enabled: false
  },
  series: [{
    name: 'Year 1800',
    data: [107]
  }, {
    name: 'Year 1900',
    data: [133]
  }, {
    name: 'Year 1950',
    data: [133]
  }, {
    name: 'Year 2012',
    data: [60]
  }]
});
</script>
{% endblock %}


{% block infotext%}
<div class="smallOrangeText">SIMULATION</div>
<div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>

{%endblock%}


{% block body %}


    <script type="text/javascript" src="{% static 'vendor/seiyria-bootstrap-slider/dependencies/js/modernizr.js' %}"></script>

	<script type="text/javascript" src="{% static 'vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'vendor/seiyria-bootstrap-slider/dependencies/js/highlight.min.js' %}"></script>




        <div id="newBardiagramm" style="min-width: 200px; max-width: 400px; height:200px;"></div>
        
         <div id="slidercontainer">

            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="0.1" data-slider-step="0.01" data-slider-value="0.03"/>

        </div>
        <script type="text/javascript">
// Without JQuery
            var slider = new Slider('#ex1', {
                formatter: function (value) {
                    return value * 100 + "% p.a.";
                },
                handle: 'square',
                tooltip: 'always'
            });


        </script>



{% endblock %}
