{% extends "base.html" %}

{% load static %}

{% block css %}
<style type="text/css">
    #myContainer{
        display: flex;
        flex-flow: row;

    }

</style>

{% endblock %}


{% block js %}
<script type="text/javascript">


// Make monochrome colors
Highcharts.setOptions({
 colors: ['#D35D15', '#FF6600', '#707172', '#0066B3']
});


var chart = Highcharts.chart('baseLineChart', {
  title: {
    text: '',
    style: {
      display: 'none'
    }
  },

  yAxis: {
  			lineColor: '#0E3C8A',
        gridLineWidth: 0,
        lineWidth:2,
        title: {
            text: 'Wert',
        },
        labels: {
                enabled: false
            },
    },

      xAxis: {
      lineColor: '#0E3C8A',
      gridLineWidth: 0,
       lineWidth:2,
       labels: {
                enabled: false
            },
        title: {
            text: 'Timeline'
        },

    },



  legend: {
    enabled: false
  },

  plotOptions: {
    series: {
      pointStart: 2005
    }
  },

  series: [{
    name: 'Ihr Portfolio',
    data: [
      4000, 4011, 3222, 3555, 3700, 4400, 4500, 5600, 3400, 3700, 4000, 4300, 4700, 4800, 5000
    ]
  }, {
    name: 'Konservativ',
    data: [
      4000, 4011, 3222, 3555, 3700, 4400, 4500, 5600, 3400, 3700, 4000, 4300, 4700, 4800, 5000
    ]
    }, {
    name: 'Ausgewogen',
    data: [
      4000, 4011, 3222, 3555, 3700, 4400, 4500, 5600, 3400, 3700, 4000, 4300, 4700, 4800, 5000
    ]
  }, {
    name: 'Wachstumsorientiert',
    data: [
      4000, 4011, 3222, 3555, 3700, 4400, 4500, 5600, 3400, 3700, 4000, 4300, 4700, 4800, 5000
    ]
  }]

});

    chart.reflow();


</script>

{% endblock %}

{% block infotext%}
<div class="panel-body">
<h3>STRESSTEST</h3>
<p>Märkte sind schnelllebig und verändern sich konstant. Daher ist es wichtig, die Auswirkungen auf Ihr(e) Depot(s) im Blick zu behalten. Mit unseren Stress Tests sehen Sie, wir sich Ihr(e) Depot(s) und die Musterdepots bei relevanten Ereignissen verhalten hat/haben.</p></div>

{%endblock%}

{% block body %}

<div class="container">
    <div id="myContainer">

  <div id="baseLineChart" style="flex-grow:2; min-height: 300px; max-height: 400px"></div>
        <div style="flex-grow:1; flex-basis: 33%; margin-top: 50px">
                {% include "inclusions/optimization_block.html" %}
        </div>

    </div>
</div>


{% endblock %}
